body{
    font-size: 1.3em;
    background: rgb(226, 204, 175);
}
h3{
    color:darkcyan;
    text-align: center;
}
.verdad{
    display: inline-block;
    margin: 10px 2em;
}   
    

.falso{
    display: inline-block;
    margin: 10px auto;
}

th{
    border: 1px solid cornflowerblue;
    padding: 20px 5px;   
}
th:nth-child(2){
    color: crimson;
}
