body{
    font-size: 1.3em;
    background: rgb(226, 204, 175);
}
h3{
    margin: 5px
}
.unidad_arroz{
    display: inline-block;
    margin: 15px 5px;
}
[type="checkbox"]{
    display: inline-block;
}
[type="submit"]{
    display: inline-block;
}
.add{
    display: inline-block;
}
.rest{
    min-height: 15px;
    background: white;
}