body{
    font-size: 1.3em;
    background: rgb(226, 204, 175);
}
h3{
    margin: 5px
}
.medio{
    width: 410px;
    height: 70px;
    padding: 5px;

    display: block;
}
[name="temp"]{
    margin: 5px 5px;
    display: block;
    width: 410px;
    height: 30px;
}
[type="submit"]{
    display: block;
    margin: 10px 5px;
    width: 100px;
    height: 40px;
}
.rest{
    display: block;
    width: 425px;
    min-height: 50px;
    background: white;
}
.unidad{
    display: inline-block;
}
p{
    margin: 15px;
}